* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html, body {
	max-height: 100vh;
	max-width: 100vw;
}

#calc {
	height: 500px;
	width: 400px;
	background-color: #eee;
	margin: 0 auto;
	margin-top: 250px;
}

#screen {
	width: 100%;
	height: 100px;
	border: #eee 10px solid;
	background-color: black;
	color: white;
}

#screen > p {
	line-height: 80px;
	font-size: 2em;
	margin-left: 10px;
}